.currentTodo{
    position: absolute;
    top: 80px;
    width: 365px;
    height: 300px;
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid #F16464;
    box-sizing: border-box;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 17px;

}
.title{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 365px;
    height: 300px;

}

.checklist{
    font-style: italic;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    height: 300px;
    top: 70px;
}

.buckets{
    font-style: italic;
    font-size: 14px;
    text-align: left;
    position:relative;
    top: 430px;
    display: flex;
    flex-direction: column;
    height: 110px;
    width: 100px;
    padding: 7px;
    border: 1px solid #F16464;
    border-radius: 17px;

}
.wrappingBuckets{
    display: flex;  
    flex-wrap: wrap;
}

.wrappingBuckets>* {
    flex: 1 1 100px;
    margin: 8px;
  }

.rewards{
    position: relative;
    font-weight: 700;
    top: 430px;
    display: flex;
    flex-direction: column;
    height: 150px;
    text-align: left;
    width: 130px;
    margin-top: 10px; 
}

